.header {
  $self: &;

  height: 80vh;
  width: 100vw;

  position: relative;
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    background-color: $color-black;
    height: 80vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.4;
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $color-white;
    position: relative;
    font-size: 10rem;
    z-index: 3;
  }

  &__logo {
    height: 19rem;
    width: 14rem;
    position: relative;
    z-index: 3;
  }
}